
/*bread*/
.lv-breadcrumb{
    margin: 0;
    padding: 0;
    list-style: none;
}

.lv-breadcrumb{
    overflow: hidden;
    width: 100%;
}

.lv-breadcrumb li{
    float: left;
    margin: 0 .5em 0 1em;
}

.lv-breadcrumb a{
    background: #f8ac59;
    padding: .7em 1em;
    float: left;
    text-decoration: none;
    color: #fff;
    text-shadow: 0 1px 0 rgba(111,111,111,.5); 
    position: relative;
}

.lv-breadcrumb a:hover{
    background: orange;
}

.lv-breadcrumb a::before{
    content: "";
    position: absolute;
    top: 50%; 
    margin-top: -1.5em;   
    border-width: 1.5em 0 1.5em 1em;
    border-style: solid;
    border-color: #f8ac59 transparent;
    left: -1em;
}

.lv-breadcrumb a:hover::before{
    border-color: orange transparent;
}

.lv-breadcrumb a::after{
    content: "";
    position: absolute;
    top: 50%; 
    margin-top: -1.5em;   
    border-top: 1.5em solid transparent;
    border-bottom: 1.5em solid transparent;
    border-left: 1em solid #f8ac59;
    right: -1em;
}

.lv-breadcrumb a:hover::after{
    border-left-color: orange;
}

.lv-breadcrumb .current,
.lv-breadcrumb .current:hover{
    font-weight: bold;
    background: none;
}

.lv-breadcrumb .current::after,
.lv-breadcrumb .current::before{
    content: normal;
}

.lv-breadcrumb li:nth-last-child(1) a{
    font-weight: bold;
    background: #333;
}
.lv-breadcrumb li:nth-last-child(1) a::after{
    border-left: 1em solid #333;
}
.lv-breadcrumb li:nth-last-child(1) a::before{
    border-color: #333 transparent;
}

.lv-divider-bread{
    border-bottom: 1px solid #ddd;
    width: 100%;
    margin: 5px 0 5px 0;
}

#process-general{
    position: fixed;
    background:url(../img/overlay.png);
    width: 100%;
    height: 200%;
    z-index: 999999999;
    top:0px;
    left: 0px;
    color: #fff;
    text-align: center;
    display: none;
}
#process-general i{
    position: absolute;
    top:25%;
}
.color-spiner{
    color: #18a689
}
/*fin bread*/

label.error{
    color: #990000 !important;
}
input.error{
    border: 1px solid #990000 !important;
}
select.error{
    border: 1px solid #990000 !important;
}
.mr5{
    margin-left: 5px;
}
.lv-checkbox{
    display: block;
    margin-top: -7px;
}
.lv-requided{ /* when a field is considered invalid by the browser */
    background: #fff url(../../public/img/required.png) no-repeat 98% center !important;
    padding-right: 20px;
}
.lv-modalrequired{
    background: #F4C6C2 url(../../public/img/required.png) 4px 6px no-repeat !important;
    width: 100px;
    padding-left: 22px;
    padding-top: 5px;
    height: 30px;
    text-align: left;
    font-weight: bold;
    font-style: italic;
    position: absolute;
    border: #E7ABA5 1px solid;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.lv-modalrequired:before{
    content: 'Requeridos';
    color: #990000;
}
/*styles datagrid
table.lv-grid tr td.sorting_1 {
    background-color: #F2F2F2 !important;
}
table.lv-grid tr td.sorting_2 {
    background-color: #E6E6E6 !important;
}*/
table.lv-grid tr:hover {
    background-color: orange !important;
}
.dataTables_paginate .activerd a, .dataTables_paginate .activerd a:hover{
    background:#3276B1;
    color: #ffffff;
    border: 1px solid #3276B1;
    cursor: default;
}
.move-cursor{
    cursor: move;
}
.si-access{
    border: 1px #00a300 solid;    
    background: #D8F6CE;
    float: right;
}
.no-access{
    border: 1px #f00 solid;
    background: #F6CED8;
    float: left;
}

.no-access:before{
    content: '';
    border-top: 10px solid transparent;
    border-bottom: 20px solid transparent;
    border-right: 88px solid #f00;
    border-left: 0px solid transparent;
    left: -87px;
    position: absolute;
    top: 0px;
}

.si-access, .no-access{
    width: 180px;
    overflow-y: auto;
    overflow-x: hidden;
    height: 160px;
}
/*arbol*/
.lv-arbol, .lv-arbol ul, .lv-arbol li {
    position: relative;
    margin-left: -10px;
}

.lv-arbol ul {
    list-style: none;
}

.lv-arbol li::before, .lv-arbol li::after {
    content: "";
    position: absolute;
    left: -12px;
}

.lv-arbol li::before {
    border-top: 1px dotted green;
    top: 9px;
    width: 8px;
    height: 0;
}

.lv-arbol li::after {
    border-left: 1px dotted brown;
    height: 100%;
    width: 0px;
    top: 2px;
}

.lv-arbol ul > li:last-child::after {
    height: 8px;
}