/* 
    Created on : 08-jun-2017, 19:03:32
    Author     : DC
*/
div.main{
    /*        background: #0264d6;  Old browsers 
            background: -moz-radial-gradient(center, ellipse cover,  #0264d6 1%, #1c2b5a 100%);  FF3.6+ 
            background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(1%,#0264d6), color-stop(100%,#1c2b5a));  Chrome,Safari4+ 
            background: -webkit-radial-gradient(center, ellipse cover,  #0264d6 1%,#1c2b5a 100%);  Chrome10+,Safari5.1+ 
            background: -o-radial-gradient(center, ellipse cover,  #0264d6 1%,#1c2b5a 100%);  Opera 12+ 
            background: -ms-radial-gradient(center, ellipse cover,  #0264d6 1%,#1c2b5a 100%);  IE10+ 
            background: radial-gradient(ellipse at center,  #0264d6 1%,#1c2b5a 100%);  W3C 
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0264d6', endColorstr='#1c2b5a',GradientType=1 );  IE6-9 fallback on horizontal gradient */
    height:calc(100vh);
    width:100%;
    background: url(../../public/img/back_login.jpg);
    background-size: 100% 100%;
}
.spor{
    color: orange !important;
}
/* ---------- GENERAL ---------- */

* {
    box-sizing: border-box;
    margin:0px auto;

    &:before,
        &:after {
        box-sizing: border-box;
    }

}

body {

    color: #606468;
    font: 12px 'Open Sans', sans-serif;
    margin: 0;

}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: orange;
}

input {
    border: none;
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 14px;
    line-height: 1.5em;
    padding: 0;
    -webkit-appearance: none;
}   

p {
    line-height: 1.5em;
}

.clearfix {
    *zoom: 1;

    &:before,
        &:after {
        content: ' ';
        display: table;
    }

    &:after {
        clear: both;
    }

}

.container {
    left: 50%;
    position: fixed;
    top: 50%;
    transform: translate(-50%, -50%);
}

/* ---------- LOGIN ---------- */

#login form{
    width: 250px;
}
#login{
    display:block;
    width:40%;        
}
#login{
    padding: 0px 22px;
    width: 59%;
}
.logo{
    color:#fff;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border: 6px solid rgba(221, 218, 215, 0.23);
    margin-bottom: 10px;
    background: url(../../public/img/logo_login.fw.png)
}

.foot{
    padding: 10px;
    color: #fff;
    margin-top: 10px;
}
#login form span.fa {
    background-color: #fff;
    border-radius: 3px 0px 0px 3px;
    color: #000;
    display: block;
    float: left;
    height: 50px;
    font-size:24px;
    line-height: 50px;
    text-align: center;
    width: 50px;
}

#login form input {
    height: 50px;
}
fieldset{
    padding:0;
    border:0;
    margin: 0;

}
#login form input[type="text"], input[type="password"] {
    background-color: #fff;
    border-radius: 0px 3px 3px 0px;
    color: #000;
    margin-bottom: 1em;
    padding: 0 16px;
    width: 200px;
}

#login form button {
    
    background: orange !important;
    color: #fff;
   
    /* margin-bottom: 2em; */
    padding: 5px 10px;
    height: 30px;
}

#login form input[type="submit"]:hover {
    background-color: #d44179;
}

#login > p {
    text-align: center;
}

#login > p span {
    padding-left: 5px;
}
.middle {
    display: flex;
    width: 600px;
}
label.error{
    color: red;
}
input.error{
    border:1px solid red;
    background: #F6CEE3 !important;
}

